Django==1.4.3
requests==0.14.2
psycopg2==2.4.5
gunicorn==0.16.1
pybars==0.0.4
rauth==0.4.17
PyMeta==0.5.0
greenlet==0.4.0
gevent==0.13.8
pylibmc==1.2.3
django-pylibmc-sasl==0.2.4
boto==2.7.0
django-storages==1.1.6
