<div class="profile documents modal fade" id="documents-profile">
  <div class="profile-info profile-doc">
    <button class="close" data-dismiss="modal">×</button>
    <h3>
      {{#if url}}<a href="{{ url }}">Documents</a>{{else}}Documents{{/if}}
      <strong>{{ count }}</strong>
    </h3>
  </div>
  <ul class="profile-doc-list">
    {{#each docs}}
    <li>
      {{#if date}}<div class="profile-doc-date">{{ date }}</div>{{/if}}
      <a href="{{ url }}" class="profile-repo-name">{{ title }}</a>
      {{#if subtitle}}<div class="profile-doc-subtitle">{{ subtitle }}</div>{{/if}}
      {{#if description}}
      <p class="profile-repo-text">
        {{ description }}
      </p>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
