<div class="profile github modal fade" id="ohloh-profile">
  <div class="profile-info">
    <button class="close" data-dismiss="modal">×</button>
    <a href="http://www.ohloh.net/accounts/{{ login }}" class="profile-avatar">
      <img src="{{ avatar_url }}" alt="{{name}}" />
    </a>
    <div class="profile-name">
      <h2><a href="http://www.ohloh.net/accounts/{{ login }}">{{ name }}</a></h2>
      <h3><a href="http://www.ohloh.net/accounts/{{ login }}">{{ login }}</a></h3>
    </div>
    <p class="profile-location-url">
      {{#if location }}
      <span>{{ location }}</span>
      <span class="divider">·</span>
      {{/if}}
      {{#if homepage_url }}
      <span><a href="{{ homepage_url }}">{{ homepage_url }}</a></span>
      {{/if}}
    </p>
  </div>
  <ul class="profile-stats">
    <li><a href="http://www.ohloh.net/accounts/{{ login }}/positions"><strong>{{ total_projects }}</strong>Projects</a></li>
    <li><a href="http://www.ohloh.net/accounts/{{ login }}/projects"><strong>{{ managed_projects }}</strong>Managed</a></li>
    <li><a href="http://www.ohloh.net/accounts/{{ login }}/kudos"><strong>{{ kudo_score }}</strong>Kudo score</a></li>
    <li><a href="http://www.ohloh.net/accounts/{{ login }}/positions/total"><strong>{{ total_commits }}</strong>Total commits</a></li>
  </ul>
  <ul class="profile-repos">
    {{#each projects}}
    <li>
    <a href="{{ homepage_url }}" class="profile-repo-name">{{ name }}</a>
    {{#if small_logo_url }}
    <a href="http://www.ohloh.net/p/{{ url_name }}" class="profile-repo-logo"><img src="{{ small_logo_url }}" alt="{{ name }}" /></a>
    {{/if}}
    <p class="profile-repo-text">
      {{ description }}
    </p>
    {{#if commits }}
    <ul class="profile-repo-stats">
      <li>{{ language }}</li>
	  <li class="profile-repo-commits">Commits: {{ commits }}</li>
      <li class="profile-repo-months">Man months: {{ man_months }}</li>
    </ul>
    {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
