<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% block metadescription %}<meta name="description" content="Personal website and blog of open source developer, Even Wiik Thomassen" />{% endblock %}
  <meta name="keywords" content="Even Wiik Thomassen, Eventh, developer, python" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pagetitle %}Even Wiik Thomassen{% endblock %}</title>
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}min/html5.js"></script><![endif]-->
  {% if RSS_FEED_ENABLED %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ RSS_FEED_URL }}" />
  {% endif %}
  {% if DEV_DEPLOYMENT_MODE %}
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/styles.less">
  <script src="{{ STATIC_URL }}less/less-1.3.1.min.js" type="text/javascript"></script>
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}min/styles-{{ COMPRESS_REVISION_NUMBER }}.min.css" type="text/css" media="screen, projection">
  {% endif %}
</head>
<body>
<header class="main-header">
  <hgroup>
    <div class="picture">
      <a href="/" rel="home"></a>
    </div>
    <h1>Even Wiik Thomassen</h1>
    <h2>Open Source Developer</h2>
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li><a href="/" id="home-link">Home</a></li>
      <li><a href="http://www.ohloh.net/accounts/Eventh" id="ohloh-link">Projects</a></li>
      <li><a href="http://github.com/eventh" id="github-link">GitHub</a></li>
      <li><a href="http://bitbucket.org/eventh" id="bitbucket-link">Bitbucket</a></li>
      <li><a href="#documents" id="documents-link">Documents</a></li>
      <li><a href="#about" id="about-link">About</a></li>
      <li><a href="mailto:eventh@gmail.com?subject=Hello" id="contact-link">Contact</a></li>
      {% comment %}
      <li><a href="http://twitter.com/#!/rigoneri" id="twitter-link">Twitter</a></li>
      <li><a href="http://github.com/rigoneri" id="github-link">Github</a></li>
      <li><a href="http://dribbble.com/rigoneri" id="dribbble-link">Dribbble</a></li>
      <li><a href="http://instagr.am/p/Lau1VrEPbt" id="instagram-link">Instagram</a></li>
      <li><a href="http://lastfm.com/user/rigoneri" id="lastfm-link">Last.fm</a></li>
      <li><a href="https://foursquare.com/user/8786308" id="foursquare-link">Foursquare</a></li>
      <li><a href="http://tent.henklein.com" id="tent-link">Tent.io</a></li>
      <li><a href="http://soundcloud.com/guram-kajaia" id="soundcloud-link">Soundcloud</a></li>
      <li><a href="http://bitbucket.org/rigoneri" id="bitbucket-link">Bitbucket</a></li>
      <li><a href="http://steamcommunity.com/id/steamshortname" id="steam-link">Steam</a></li>
      <li><a href="http://stackoverflow.com/users/USERID/USERNAME" id="stackoverflow-link">StackOverflow</a></li>
      <li><a href="mailto:contact@rigoneri.com?subject=Hello" id="contact-link">Contact</a></li>
      {% endcomment %}
    </ul>
  </nav>
</header>
{% block main_section %}{% endblock %}
<div class="mobile-nav">
  <span class="nav-btn" id="mobile-nav-btn">
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
  </span>
  <h3><a href="/">Even Wiik Thomassen</a></h3>
</div>
<script type="text/javascript">
var twitter_integration_enabled = {% if TWITTER_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    github_integration_enabled = {% if GITHUB_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    dribbble_integration_enabled = {% if DRIBBBLE_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    instagram_integration_enabled = {% if INSTAGRAM_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    lastfm_integration_enabled = {% if LASTFM_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    disqus_integration_enabled = {% if DISQUS_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    soundcloud_integration_enabled = {% if SOUNDCLOUD_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    bitbucket_integration_enabled = {% if BITBUCKET_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    ohloh_integration_enabled = {% if OHLOH_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    foursquare_integration_enabled = {% if FOURSQUARE_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    documents_page_enabled = {% if DOCUMENTS_PAGE_ENABLED %}true{% else %}false{% endif %},
    about_page_enabled = {% if ABOUT_PAGE_ENABLED %}true{% else %}false{% endif %},
    disqus_integration_enabled = {% if DISQUS_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    tent_integration_enabled = {% if TENT_INTEGRATION_ENABLED %}true{% else %}false{% endif %};
    steam_integration_enabled = {% if STEAM_INTEGRATION_ENABLED %}true{% else %}false{% endif %};
    stackoverflow_integration_enabled = {% if STACKOVERFLOW_INTEGRATION_ENABLED %}true{% else %}false{% endif %};

{% if DISQUS_INTEGRATION_ENABLED %}var disqus_shortname = '{{ DISQUS_SHORTNAME }}';{% endif %}
{% if TENT_INTEGRATION_ENABLED %}
    var tent_entity_uri = '{{ TENT_ENTITY_URI }}';
    var tent_feed_url = '{{ TENT_FEED_URL }}';
{% endif %}
{% if DEV_DEPLOYMENT_MODE %}
var require = {
    baseUrl: "{{ STATIC_URL }}",
    paths: {
        "text": "js/libs/text",
        "json": "js/libs/json",
        "jquery": "js/libs/jquery-1.8.0",
    },
    deps: ["jquery"],
    waitSeconds: 120,
};
{% else %}
var require = {
    paths: {"jquery": "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min"},
    deps: ["jquery"],
    waitSeconds: 120,
};
{% endif %}
</script>
{% if DEV_DEPLOYMENT_MODE %}
<script src="{{ STATIC_URL }}js/libs/require.js"></script>
<script type="text/javascript">
    require([
        "jquery",
        "js/libs/handlebars",
        "js/libs/moment",
        "js/libs/spin",
        "js/libs/prettify",
        "js/libs/bootstrap-modal",
        "js/components/base",
        "js/components/mobile",
        "js/components/blog-posts",
        "js/components/links",
{% if TWITTER_INTEGRATION_ENABLED %}"js/components/twitter",{% endif %}
{% if GITHUB_INTEGRATION_ENABLED %}"js/components/github",{% endif %}
{% if DRIBBBLE_INTEGRATION_ENABLED %}"js/components/dribbble",{% endif %}
{% if INSTAGRAM_INTEGRATION_ENABLED %}"js/components/instagram",{% endif %}
{% if LASTFM_INTEGRATION_ENABLED %}"js/components/lastfm",{% endif %}
{% if BITBUCKET_INTEGRATION_ENABLED %}"js/components/bitbucket",{% endif %}
{% if DISQUS_INTEGRATION_ENABLED %}"js/components/disqus",{% endif %}
{% if SOUNDCLOUD_INTEGRATION_ENABLED %}"js/components/soundcloud",{% endif %}
{% if FOURSQUARE_INTEGRATION_ENABLED %}"js/components/foursquare",{% endif %}
{% if TENT_INTEGRATION_ENABLED %}"js/components/tent.js",{% endif %}
{% if OHLOH_INTEGRATION_ENABLED %}"js/components/ohloh",{% endif %}
{% if DOCUMENTS_PAGE_ENABLED %}"js/components/documents",{% endif %}
{% if ABOUT_PAGE_ENABLED %}"js/components/about",{% endif %}
{% if STEAM_INTEGRATION_ENABLED %}"js/components/steam",{% endif %}
{% if STACKOVERFLOW_INTEGRATION_ENABLED %}"js/components/stackoverflow",{% endif %}
    ]);
</script>

{% else %}
<script data-main="{{ STATIC_URL }}min/scripts-{{ COMPRESS_REVISION_NUMBER }}.min.js" src="{{ STATIC_URL }}min/require.min.js"></script>
{% endif %}

{% if SHARETHIS_PUBLISHER_KEY %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "{{ SHARETHIS_PUBLISHER_KEY }}"});</script>
{% endif %}

{% block extra_js %}{% endblock %}
<script type="text/javascript">
{% block extra_inline_js %}{% endblock %}

{% if WOOPRA_TRACKING_DOMAIN %}
// Start of woopra code
function woopraReady(tracker) {
    tracker.setDomain("{{WOOPRA_TRACKING_DOMAIN}}");
    tracker.setIdleTimeout({{WOOPRA_TRACKING_IDLE_TIMEOUT}});
    {% if WOOPRA_INCLUDE_QUERY %}
    tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
    {% else %}
    tracker.track();
    {% endif %}
    return false;
}
(function() {
    var wsc = document.createElement('script');
    wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
    wsc.type = 'text/javascript';
    wsc.async = true;
    var ssc = document.getElementsByTagName('script')[0];
    ssc.parentNode.insertBefore(wsc, ssc);
})();
// End of woopra code
{% endif %}

{% if GOOGLE_ANALYTICS_TRACKING_ID %}
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_TRACKING_ID}}']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
{% endif %}
</script>
</body>
</html>
